@charset "utf-8";
body {
	min-width: 1200px;
	font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color:#666;
}

body,button,div,textarea,ul,ol,li,dl,dt,dd,p,form,input,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
em,i {
	font-style: normal;
}

ul,ol {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
}

button {
	cursor: pointer;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #c81623;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.w-m{
	width: 1200px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mr5{
	margin-right: 5px;
}
